.container_account {
    margin-top: 39px;
}

.account_details_text {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 13px;
}

.account_line {
    background-color: #D8D8D8;
    height: 1px;
    width: 100%;
    margin-bottom: 39px;
}

.account_warning {
    font-size: 12px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 24px;
    margin-top: -31px;
}